<!DOCTYPE html>
<html>
  <body>
    <h1><font size ="20", color ="#800080"> AGREGAR PERSONA </font></h1>

    <form action="/addPerson" method="post">
      <label for="nss">NSS:</label>
      <input type="text" id="nss" name="nss"><br><br>
      <label for="nombre">NOMBRE:</label>
      <input type="text" id="nombre" name="nombre"><br><br>
      <label for="edad">EDAD:</label>
      <input type="text" id="edad" name="edad"><br><br>
      <label for="tipoSangre">TIPO DE SANGRE:</label>
      <input type="text" id="tipoSangre" name="tipoSangre"><br><br>
      
      <input type="submit" value="Submit">
    </form>
       <div>
      <br>
      <br>
      <br>
        <a href="./main"><font size ="20", color ="#800080"> Back </font></a>
    </div>
  </body>
  </html>